/* myStyle.css */

.navbar {
	background-color: white;
}

.jumbotron {
	padding: 100px 25px;
	background-color: white;
}

#mainlogo {
	min-height: 200px;
}

.personalphoto {
	max-height: 250px;
	max-width: 235px;
}
.container-fluid {
	padding: 60px 50px;
	font-family: Gadugi;
}

p {
	text-align: center;
}

.bg-grey {
	background-color: #f6f6f6;
}

h2 {
	padding-bottom: 30px;
	text-align: center;
}

.glyphicon {
	color: #f8921f;
}

."col-sm-4 col-xs-12" {
	border-style: hidden;
}

#circlelogo {
	min-height: 75px;
}